body {
  background-color: #90B4CE;;
}
.navbar.is-link {
  background: #90B4CE;
}
input.input {
  border: 3px solid #094067;
  border-right: none;
}
.button.is-warning {
  background-color: #EF4565;
  color: white;
  border: 3px solid #094067;
}
.button.is-warning:hover {
  background-color: #90B4CE;
  color: white;
}
a.navbar-item:hover {
  background-color:#3DA9FC;
}
.navbar.is-link .navbar-brand .navbar-link.is-active, .navbar.is-link .navbar-brand .navbar-link:focus, .navbar.is-link .navbar-brand .navbar-link:hover, .navbar.is-link .navbar-brand>a.navbar-item.is-active, .navbar.is-link .navbar-brand>a.navbar-item:focus, .navbar.is-link .navbar-brand>a.navbar-item:hover {
  background-color: #3DA9FC;
}
.field.has-addons {
  .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    span {
      font-weight: 900;
    }
  }
  .control>input.input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .control>button.is-success {
    border: 3px solid #094067;
    border-radius: 16px;
  }
}
.button.is-fire {
  background-color: #EF4565;
  color: white;
}
.wrapper > section.section {
  min-height: 100vh;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 3px solid #094067;
}
.navbar-menu{
  .is-active {
    background-color: #90B4CE;
    box-shadow: none;
  }
  .navbar-item {
    .buttons {
      .button{
        font-weight: 900;
        border: 3px solid #094067;
        border-radius: 20px;
      }
    }
    .field  {
      .control {
        input {
          border: 3px solid #094067;
          border-right: none;
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
        }
        .is-success {
          background-color: white;
          color: black;
          border-radius: 16px;
        }
      }
    }
  }
}
.hero.is-medium.is-info {
  background-color: #90B4CE;
  border: 3px solid #094067;
  border-radius: 16px;
}
.hero-body {
  padding-top: 50px;
  padding-left: 50px
}
.wrapper.is-loading-bar {
  background-color: #90B4CE;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 30px;
}
footer {
  background-color: white;
}
.button.is-link.is-rounded {
  background-color: #3DA9FC;
  border: 3px solid #094067;
}
.field.has-addons {
  .button.is-warning {
    border-radius: none;
  }
}